#!/usr/bin/env python
PACKAGE = "gradient_based_navigation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("max_vel_x", double_t, 0, "Maximum translational velocity", 0.75)
gen.add("max_vel_theta", double_t, 0, "Maximum rotational velocity", 0.5)
gen.add("attractiveDistanceInfluence_m", double_t, 0, "Attractive distance influence (m)", 1.0)
gen.add("obstaclesDistanceInfluence_m", double_t, 0, "Obstacle distance influence (m)", 1.0)
gen.add("force_scale", double_t, 0, "Force scale (m)", 0.5)
gen.add("momentum_scale", double_t, 0, "Momentum scale (m)", 0.15)
gen.add("robot_radius", double_t, 0, "Robot radius (m)", 0.20)

exit(gen.generate(PACKAGE, "gradient_based_navigation", "GradientBasedNavigation"))
